.logo{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    border-bottom: 1px gray solid;
}

.sidebar .algo-list{
    padding: 10px;
    overflow: auto;
}

.sidebar .algo-list li::before{
    content: "# ";
    color: white;
}

.sidebar .algo-list li.active::before{
    content: "# ";
    color: rgb(255, 0, 0);
}

.sidebar .algo-list li{
    list-style: none;
    padding: 4px;
    cursor: pointer;
}

.sidebar .algo-list li:hover{
    color:rgb(255, 0, 0);
}

/* .sidebar .algo-list ul .active{
    color:rgb(255, 0, 0);
} */