.main-container{
    display: flex;
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 610px;
    border-right: 1px gray solid;
}

.main-left .header{
    height: 40px;
    border-bottom: 1px gray solid;
    font-size: 20px;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

.visual-container{
    border-bottom: 1px solid gray;
}

.description{
    flex: 1;
    overflow: auto;
    padding:10px;
}

/* MAIN RIGHT  */
.main-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-right-header-container{
    height: 40px;
    border-bottom: 1px gray solid;
    font-size: 20px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

select{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    background-color: #bcfd49;
}

.main-right .code{
    flex: 1;
    height: 100%;
    /* padding:10px; */
    /* overflow: auto; */
    /* width: 100%; */
}